#body {
    background-image: url("https://qzprod.files.wordpress.com/2016/03/kapoor.png");
     background-size: 100% 100%;
}

}

.alert-info {
    background-color: #032e42;
    border-color: #70a6fd;
    text-shadow: 0 1px #000;
    color: #fff;
    box-shadow: 0 4px 12px -3px #017cc3;
}

#usercount {
    color: #999!important;
}

#afkCount {
    top: 2px!important;
}

#afkCount .activeusercount {
    color: #808080!important;
}

#afkCount .afkusercount {
    color: #666!important;
}

 #userlist {
    background-color: #222!important;
    border-bottom: none!important;
}

::-webkit-scrollbar {
    background-color: #111!important;
}

.well {
    background-color: #222!important;
}

.navbar {
    border-color: rgba(0,0,0,.9);
}

#chatinput #chatline, #messagebuffer, #userlist {
    border-color: #161616!important;
}

#chatinput #chatline {
    border-color: #222 #111 #111!important;
    box-shadow: 0 3px 8px -3px black inset;
}

.form-control:focus {
    box-shadow: 0 0 10px -2px #6ba4ff inset!important;
    border-color: #3e5f94!important;
}

.btn-default, .input-group-addon {
    background-image: -webkit-linear-gradient(#404040,#222 60%,#111)!important;
    background-image: -o-linear-gradient(#404040,#222 60%,#111)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#404040),color-stop(60%,#222),to(#111))!important;
    background-image: linear-gradient(#404040,#222 60%,#111)!important;
}

.btn-default {
    color: #aaa!important;
    background-color: #262626!important;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #fff!important;
    background-color: #222!important;
    border-color: rgba(0,0,0,.6)!important;
}

#voteskip.btn.btn-sm.btn-default:hover, .pm-buffer.linewrap {
    background-color:#222!important;

}

.panel-default>.panel-heading {
    background-color: #333!important;
}

.dropdown-menu {
    background-color: #333!important;
    text-shadow: 0 1px black!important;
}

input.form-control[type="text"], input.form-control[type="password"], input.form-control[type="email"], textarea.form-control, #footer {
    background-color: #161616!important;
}

.form-control {
    border-color: #111!important;
}

.queue_entry {
    background-color: #161616!important;
}

div#plmeta, ul#queue {
    background-color: rgba(22, 22, 22, 0.7)!important;
}

.queue_active.queue_temp {
    background-color: #505050!important;
}

#resize-video-larger, #resize-video-smaller {
    color: #444!important;
}

#resize-video-larger:hover, #resize-video-smaller:hover {
    color: #777!important;
}

#chatwrap {
    background: none!important;
}

#userlist .nick-highlight {
    background-color: rgba(94, 52, 142, 0.6);
}

}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #fff!important;
    background-color: #222!important;
    border-color: rgba(0,0,0,.6)!important;
}

#voteskip.btn.btn-sm.btn-default:hover, .pm-buffer.linewrap {
    background-color:#222!important;

}

.panel-default>.panel-heading {
    background-color: #333!important;
}

.dropdown-menu {
    background-color: #333!important;
    text-shadow: 0 1px black!important;
}

input.form-control[type="text"], input.form-control[type="password"], input.form-control[type="email"], textarea.form-control, #footer {
    background-color: #161616!important;
}

.form-control {
    border-color: #111!important;
}

.queue_entry {
    background-color: #161616!important;
}

div#plmeta, ul#queue {
    background-color: rgba(22, 22, 22, 0.7)!important;
}

.queue_active.queue_temp {
    background-color: #505050!important;
}

#resize-video-larger, #resize-video-smaller {
    color: #444!important;
}

#resize-video-larger:hover, #resize-video-smaller:hover {
    color: #777!important;
}

#chatwrap {
    background: none!important;
}

#userlist .nick-highlight {
    background-color: rgba(94, 52, 142, 0.6);
}
